.destek-header{
    font-size: 20px;
    font-weight: bold;
}
.destek-placeholder{
    padding:10px;
}
.destek-cizgi{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.411);
    margin-top: 10px;
}
.destek-message-kapsayici{
    margin: 10px 0 80px 0;
}
.destek-message{    
    height:fit-content;
    font-size: 18px;
}
.destek-message{
    height:fit-content;
    font-size: 18px;
}
.destek-message-header{
    padding: 40px 0 25px 0;
    font-size: 20px;
    font-weight: light;
}
.destek-message-number{
    width: 590px;
    height: 50px;
    margin:10px 0;
}
.destek-message-mesaj{
    width: 590px;
    height: 200px;
    margin: 10px 0;
    overflow:none;
}
.leftupmenu-anasayfadestek{
    background-color: rgba(128, 128, 128, 0.096);
    margin-bottom:20px;
}
.destek-button{
    margin:10px 0;
    background-color: green;
    border: 5px solid;
    border-radius: 10px;
    padding:2px 80px;
    height: 50px;
    color:white;
}
.destek-button:hover{
    cursor:pointer;
}
.destek-button:active{
    background-color: rgb(5, 80, 5);
    cursor: pointer;
}