.destek{
    width: 100%;
    height: fit-content;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
}
.destek h5{
    padding-bottom: 10px;
    border-bottom: 1px solid #d1d1d1;
}
.destek p{
    padding: 30px 0 20px 0;
    font-size: 24px;
    font-weight: 300;
}
.destek form .inputs{
    padding: 10px 20px;
    border: 1px solid #d1d1d1;
    border-radius: 15px;
    width: 50%;
}
.destek form button{
    background-color: #3e3938;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    width: 20%;
}
