/*----------------------Header----------------------*/
.header-main{
    justify-content: center;
}
.header-logo{
  
}
.header-search{
    height: 40px;
    width: 500px;
    border: 1px solid rgba(128, 128, 128, 0.404);
    border-radius: 20px;
    padding: 15px;
}
.header-search-glass{
    position: absolute;
    right: 12px;
    color: rgba(128, 128, 128, 0.5);
    font-size: 24px;
    cursor: pointer;
    padding: 8px 0px;
}
.header-search:focus{
    outline: none;
}
.header-suggestions{
    position: absolute;
    background-color: white;
    margin-top: 4px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.5);
    gap:5px;
    z-index: 51;
    width: 150%;
    left: -25%;
    top: 100%;
}
.header-account-menu{
    width: 330px;
    background-color: white;
    position: absolute;
    border: 1px solid rgba(128, 128, 128, 0.5);
    z-index: 51;
    padding: 20px;
    top: 100%;
}
.header-account-menu-text{
    font-weight: bold;
    padding-bottom: 16px;
    font-size: 20px;
    color: #0282ca;
}
.header-account-menu-ul{
    gap: 12px;
    font-weight: light;
}
.header-account-menu-ul li {
    gap: 14px;
    align-items: center;
}
.header-account-menu-ul li i{
    width: 24px;
    font-size: 20px;
}
.header-account-menu-ul li:nth-child(6):hover{
    color: #0282ca;
}
.header-account-menu-ul li:hover{
    color: #ff4d4d;
}
/*----------------------Footer----------------------*/
.footer-main{
    color: white;
    padding: 60px;
}
.footer-ebulten{
    font-size: 24px;
}
.footer-logo{
    margin-bottom: 55px;
}
.footer-nav{
    gap: 80px;
    margin-top: 20px;
}
.footer-logo img{
    height: 160px;
    width: 200px;
}
.footer-eposta{
    height: 80px;
    align-items: center;
}
.footer-eposta input{
    padding: 20px;
    height: 56px;
    width: 320px;
    background-color: white;
    border-radius: 10px;
    color: black;
}
.footer-btn{
    height: 70px;
    margin-left: -80px;
    margin-top: 10px;
}
.footer-btn div{
    width: 115px;
}
.footer-btn span{
    position: absolute;
    font-size: 18px;
    padding-right: 16px;
}
.footer-social{
    gap:16px !important; 
}
.footer-social li a i{
    font-size: 36px;
}
.footer-ok-image{
    height: 80px;
    margin-left: 20px;
    rotate:-70deg;
    margin-bottom: 20px;
}
.footer-guvenli{
    gap: 12px;
    align-items: center;
}
.footer-guvenli i{
    font-size: 30px;
}
.footer-alt{
    width: 100%;
    padding-top: 40px;
}
.footer-cizgi{
    width: 100%;
    border-bottom: 1px solid white;
}
/*----------------------Sticknav----------------------*/
.sticky-main{
    position: sticky;
    top: 0px;
    z-index: 50;
    background: var(--fish-blue);
    color: var(--luxury-white);
    height: 55px;
    width: 100%;
}
.sticky-features{
    gap: 16px;
    align-items: center;
}
.sticky-features i{
    font-size: 24px;
    cursor: pointer;
}
.sticky-features ul{
    align-items: center;
    gap: 32px;
    font-weight: 500;
    font-size: 18px;
}
.sticky-features-right{
    align-items: center;
}
.sticky-features-right ul{
    align-items: center;
    gap: 32px;
    font-weight: 500;
    font-size: 18px;
}
.sticky-features-right ul a{
    gap:8px;
    align-items: center;
}
.sticky-features-right ul i{
    font-size: 22px;
}
.sticky-menu{
    position: sticky;
    top: 0;
    z-index: 50;
}
.sticky-nav-menu-h{
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: bold;
    color: #0282ca;
    border-bottom: 2px #0282ca solid;
    padding: 4px 0;
    width: 100%;
}
/*----------------------Redbar----------------------*/
.redbar-main{
    background-color: #ff4d4d;
    height: 40px;
    width: 100%;
    color: white;
    font-weight: light;
    letter-spacing: 0.05em;
    font-size: 14px;
}
.redbar-social{
    gap: 12px;
    align-items: center;
    font-size: 24px;
}