/*----------------------Table----------------------*/
table {
    width: 100%;
}

table tbody tr {
    height: 60px;
}

table tbody tr td {
    text-align: center;
}

.button-1 {
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    padding: 0px 6px;
    text-align: center;
}

/*----------------------Leftmenu----------------------*/


/*----------------------Pages----------------------*/
.pages-border {
    border: 1px solid #d1d1d1;
    border-radius: 20px;
}

.pages-content {
    margin: 10px 0 80px 0;
}

.pages-padding {
    padding: 20px;
}

.pages-right {
    height: fit-content;
    font-size: 18px;
}

.pages-right-header {
    padding: 40px 0 25px 0;
    font-size: 20px;
    font-weight: light;
}