/*----------------------Table----------------------*/
table{
    width: 100%;
    margin: auto;
    text-align: left;
}
table thead tr th{
    border-bottom: 1px solid black;
}
table tbody tr td{
    padding: 30px 0;
    border-bottom: 1px solid gray;
}
.button-1 {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0px 6px;
  position: relative;
  text-align: center;
  vertical-align: baseline;
  user-select: none;
  touch-action: manipulation;
}