
.urundetay-tag {
  background-color: #f6f6f6;
}

.urundetay-genelbilgiler {
  border: 1px black solid;
  width: auto;
  height: auto;
}

.urundetay-yazilar {
  border: 1px black solid;
  width: auto;
  height: auto;
}

.urundetay-genelbilgiler li {
  padding: 8px 0px;
}

.urundetay-genelbilgilerlist {
  padding: 30px;
}

.urundetay-kocamanyazi {
  font-size: 24px;
  font-weight: 500;
}

.urundetay-cizgi {
  border: 2px solid red;
  width: 100%;
}

.urundetay-hovers {
  position: relative;
  display: inline-block;
  color: black;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s ease;
  padding-left: 10px;
}

.urundetay-hovers::before {
  content: '';
  position: absolute;
  left: 1px;
  top: 0;
  height: 100%;
  width: 0;
  background-color: red;
  transition: width 0.3s ease;
}

.urundetay-hovers:hover {
  color: red;
  cursor: pointer;
}

.urundetay-hovers:hover::before {
  width: 4px;
}

.urundetay-hovers.active {
  color: red;
  cursor: default;
  pointer-events: none;
}

.urundetay-hovers.active::before {
  width: 4px;
}

.urunbilgi {
  margin-left: 15px;
}

.urundetay-bilgitablosu {
  padding: 30px;
  width: 1197px;
  height: 532px;
}

.urunbilgi-cizgi {
  border: 2px solid gray;
}


.urundetay-toplacikar {
  background-color: #efefef;
  border-radius: 15px;
  font-weight: bold;
  font-size: 18px;
}


.urunbilgi-kucukresimler ul li {
  margin-bottom: 20px;
}

.fade {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.show {
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Buton stilleri */


