
/*uyelik-formu*/
.top-img{
  background-image: url('../images/uye.jpg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
}
.top-img .overlay{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.top-img .breadcrumb{
    background-color: transparent;
    color: white;
}
.top-img .breadcrumb .container{
    flex-direction: column;
    align-items: start;
}
.top-img .breadcrumb .title{
    font-size: 38px;
    font-weight: 600;
}

.uyelikformu-genel{
  width: calc(5/9 * 100%);
  border: 1px solid #66666673;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 50px;
}
.uyelik-list{
  width: calc(4/9 * 100%);
  justify-content: left;
  display: flex;
}

.uyelik-list li{
  margin: 30px 0;
}
.uyelik-list li:first-child{
  color: #0282ca;
  font-weight: 600;
  font-size: 32px;
  margin: 0;
}
.uyelik-list .ext-img{
  width: 15%;
}
.uyelik-list img{
  width: 70px;

}
.uyelik-impflex{
  justify-content: left;
  display: flex;
  align-items: center;
}
.uyelik-impflex span{
  width: 70%;
  font-size: 20px;
  font-weight: 300;
}
.uyelikformu{
  width: 100%;
}
.uyelikformu h4{
  padding-bottom: 10px;
}
.uyelikformu textarea{
  height: 150px;
  resize: none;
}
.uyelik-input{
  width: 100%;
  border: 1px solid #66666673;
  border-radius: 15px;
  height: 40px;
  margin: 10px 0px;
  font-size: 16px;
  padding: 25px;
  font-weight: 500;
  gap: 10px;
}
.uyelik-inputbox{
  gap: 20px;
  display: flex;
}
.uyelik-buton{
  width: 100%;
  height: 50px;
  background-color: #0282ca;
  border-radius: 15px;
  color: white;
}
.uyelik-kurallar div{
  margin: 20px 0;
}
.uyelik-kurallar div:nth-child(2){
  display: flex;
  justify-content: left;
}
.uyelik-kurallar div input{
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.uyelik-kurallar li{
  font-weight: 500;
  color: gray;
  font-size: 16px;
}
.uyelik-altresimgenel{
  margin-inline: auto;
  display: flex;
  justify-content: center;
}
.uyelik-altresim{
  height: 200px;
  width: 80.5%;
  margin: 50px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  align-items: center;
}
.uyelik-altresim div{
  width: 85%;
}
.uyelik-altresim div span{
  color: #a189b8;
  font-size: 80px;
  font-weight: bold;
}
.uyelik-altresim img{
  height: 80px;
  width: 80px;
}
.uyelik-altyazi{
  font-size: 28px;
}